
@font-face {
    font-family: "Montserrat";
    src: url("Font/Montserrat/Montserrat-VariableFont_wght.ttf");
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: hsl(0, 2%, 26%);
    color: white;
    cursor: pointer;
}

.sound{
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.sound > select{    
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.sound image{
    width: 25px;
    height: 25px;
    padding: 3px;
    margin-right: 5px;
    border: 1px solid hsl(0, 2%, 26%);
    border-radius: 5px;
}

.game-board{
    display: none;
    padding: 5px;
    height: 480px;
    width: 400px;
    border-radius: 15px;
    justify-content: center;
}

.new-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.game-head{
    display: flex;
    height: 50px;
    padding-left: 5px;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.game-options{
    position: relative;
    width: fit-content;
}

.game-options img{
    width: 25px;
    height: 25px;
    padding: 3px;
    margin-right: 5px;
    border: 1px solid hsl(0, 2%, 26%);
    border-radius: 5px;
}

.board {
    width: 360px;
    height: 360px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 75px;
    height: 75px;
    margin: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    align-content: center;
    border-radius: 8px;
    background: lightgrey; 
}

.x0 { background: lightgray; color: #776E65;}
.x2 { background: #EEE4DA; color: #776E65; }
.x4 { background: #EDE0C8; color: #776E65; }
.x8 { background: #F2B179; color: #F9F6F2; }
.x16 { background: #F59563; color: #F9F6F2; }
.x32 { background: #F67C5F; color: #F9F6F2; }
.x64 { background: #F65E3B; color: #F9F6F2; }
.x128 { background: #EDCF72; color: #F9F6F2; }
.x256 { background: #EDCC61; color: #F9F6F2; }
.x512 { background: #EDC850; color: #F9F6F2; }
.x1024 { background: #EDC53F; color: #F9F6F2; }
.x2048 { background: #EDC22E; color: #F9F6F2; }

@media (max-width: 600px) {

    body, html {
        margin: 0;
        padding: 0;
        overflow: hidden; 
        height: 100%;
    }

    .board {
        width: 85vw; 
        height: 85vw;
        margin: 10px;
    }

    .card {
        width: 20vw;
        height: 20vw;
        margin: 2px;
        font-size: 5vw;
    }
}